@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

/* Formatação navbar */
*{
	padding: 0;
	margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/info.png) no-repeat fixed;
  height: 100vh;
  -webkit-background-size:cover ;
  -moz-background-size: cover ;
  -o-background-size: cover ;
  background-size: cover ;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo {
    width: 223px;
    height: auto;
    margin-top: -21px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background:  #00a1d7;
	border-radius: 2px;
}

/* Fim Formatação navbar */

/* Formatação cards cartilhas */
.container {
width: 90%;
margin: 50px auto;

}

.meio {
text-align: center;
font-size: 30px;
margin-bottom: 50px;
color:  white;
-webkit-text-stroke: black;
-webkit-text-stroke-width: 1px;
}

.inicio {
display: flex;
flex-direction: row;
justify-content: space-around;

}

.card1{
width: 20%;
background: white;
border: 1px solid #ccc;
margin-bottom: 50px;
transition: 0.3s;

}

.header-card{
text-align: center;
padding: 50px 10px;
background: linear-gradient(to right, #14aefa 1%, #f2a1bd 59%);
color: white;

}

.cardbody {
    padding: 30px 20px;
    text-align: center;
    font-size: 13px;
}

.card1:hover{
    transform: scaleY(1.05);
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);


}

.cardbody .btn{
	display: block;
    background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    text-decoration: none;
    color: white;
    height: 33px;
    font-size: 26px;
   }

/* fim Formatação cards cartilhas */

/* Formatação cards livros */

.card3{
	width: 22%;
	background: white;
	border: 1px solid #ccc;
	margin-bottom: 50px;
	transition: 0.3s;
	
	}
	
	.header-card3{
	text-align: center;
	padding: 50px 10px;
	background: linear-gradient(to right, #14aefa 1%, #f2a1bd 59%);
	color: white;
	
	}
	
	.cardbody3 {
		padding: 5px 4px;
		text-align: center;
		font-size: 13px;
	}
	
	.card3:hover{
		transform: scaleX(1.05);
		box-shadow: 0 0 40px -10px rgba(2, 61, 255, 0.582);
	
	
	}

	img {
		width: 203px;
	}

	.cardbody3 .btn{
		display: block;
		background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
		text-decoration: none;
		color: white;
		height: 33px;
		font-size: 26px;
	}

	.cvv {
		display: block;
		background: linear-gradient(315deg, #f7091c 0%, #e7545e 74%);
		text-decoration: none;
		color: white;
		height: 45px;
		font-size: 43px;
		text-align: center;
		width: 203px;
		margin: 10px 468px;
		border-radius: 5px;
		box-shadow: 0 0 40px -10px rgb(255, 255, 255);

	}

	.denuncia{
		display: block;
		background: linear-gradient(315deg, #f7091c 0%, #e7545e 74%);
		text-decoration: none;
		color: white;
		height: 45px;
		font-size: 43px;
		text-align: center;
		width: 270px;
		margin: 10px 437px;
		border-radius: 5px;
		box-shadow: 0 0 40px -10px rgb(255, 255, 255);
		cursor: pointer;

	}

	


/* Formatação cards */

